# by default, exclude everything
**

# make exceptions for what we actually want
# (this is done to avoid accidentally including secrets in the build context)
!assets
!Cargo.lock
!diesel.toml
!docker/sqlite/alexandrie.toml
!docker/sqlite/Cargo.toml
!docker/mysql/alexandrie.toml
!docker/mysql/Cargo.toml
!docker/mysql/mysql-compose.yaml
!docker/postgresql/alexandrie.toml
!docker/postgresql/Cargo.toml
!docker/postgresql/postgresql-compose.yaml
!docker/startup.sh
!migrations
!src
!syntect-dumps
!syntect-syntaxes
!syntect-themes
!templates
!wasm-pbkdf2
