# by default, exclude everything
**

# make exceptions for what we actually want
# (this is done to avoid accidentally including secrets in the build context)
!assets
!Cargo.lock
!Cargo.toml
!diesel.toml
!docker/sqlite/alexandrie.toml
!docker/sqlite/Cargo.toml
!docker/mysql/alexandrie.toml
!docker/mysql/Cargo.toml
!docker/mysql/mysql-compose.yaml
!docker/postgres/alexandrie.toml
!docker/postgres/Cargo.toml
!docker/postgres/postgres-compose.yaml
!docker/startup.sh
!migrations
!alexandrie
!alexandrie-index
!alexandrie-storage
!alexandrie-rendering
!syntect-dumps
!syntect-syntaxes
!syntect-themes
!templates
!wasm-pbkdf2
