[general]
bind_address = "127.0.0.1:3000"

[frontend]
enabled = true
title = "Alexandrie"
description = "An alternative crate registry for Cargo, the Rust package manager."
# favicon = ""
links = [
    { name = "Github repository", href = "https://github.com/Hirevo/alexandrie" },
    { name = "User documentation", href = "https://hirevo.github.io/alexandrie" },
]

[database]
# url = "mysql://root:root@127.0.0.1:3306/alexandrie"
# url = "postgresql://root:root@127.0.0.1:5432/alexandrie"
url = "alexandrie.db"

[index]
type = "command-line"
path = "crate-index"

[storage]
type = "disk"
path = "crate-storage"

[syntect.syntaxes]
type = "dump"
path = "syntect-dumps/syntaxes.dump"

[syntect.themes]
type = "dump"
path = "syntect-dumps/themes.dump"
theme_name = "frontier-contrast"
