[general]
bind_address = "127.0.0.1:3000"

[frontend]
enabled = true
title = "Alexandrie"
description = "An alternative crate registry for Cargo, the Rust package manager."
# favicon = ""
links = [
    { name = "Github repository", href = "https://github.com/Hirevo/alexandrie" },
    { name = "User documentation", href = "https://hirevo.github.io/alexandrie" },
]

[frontend.sessions]
cookie_name = "alexandrie.sid"
secret = "YOU_REALLY_SHOULD_CHANGE_THIS_BEFORE_DEPLOYING"

[frontend.assets]
path = "assets"

[frontend.templates]
path = "templates"

[frontend.auth.local]
enabled = true
allow_registration = true

[frontend.auth.github]
enabled = false
client_id = "GITHUB_OAUTH_CLIENT_ID"
client_secret = "GITHUB_OAUTH_CLIENT_SECRET"
# Omit `allowed_organizations` to not require any organization membership.
allowed_organizations = [
    # Using this organization does not requires any specific team membership.
    { name = "ORG_NAME_1" },
    # But using this one does requires membership in one of specified teams.
    { name = "ORG_NAME_2", allowed_teams = ["TEAM_NAME"] },
]
allow_registration = true

[frontend.auth.gitlab]
enabled = false
origin = "https://gitlab.com"
client_id = "GITLAB_OAUTH_CLIENT_ID"
client_secret = "GITLAB_OAUTH_CLIENT_SECRET"
# Omit `allowed_groups` to not require any organization membership.
allowed_groups = [
    "GROUP_1",
    "GROUP_2",
]
allow_registration = true

[database]
# url = "mysql://root:root@127.0.0.1:3306/alexandrie"
# url = "postgresql://root:root@127.0.0.1:5432/alexandrie"
url = "alexandrie.db"

[index]
type = "command-line"
path = "crate-index"

[storage]
type = "disk"
path = "crate-storage"

[syntect.syntaxes]
type = "dump"
path = "syntect/dumps/syntaxes.dump"

[syntect.themes]
type = "dump"
path = "syntect/dumps/themes.dump"
theme_name = "frontier-contrast"
